<div class="container" xmlns="http://www.w3.org/1999/html">
  	<div id="content" class="row">
        <div class="span12">
            <h1 class="font-bree-serif align-center">Manage Your Garmin GPS Files Easily</h1>
            <h4 class="align-center font-open-sans-normal-italic">Want help managing those complex gps data files?</h4>
              <div class="row features" style="text-align: center;">
                      <a href="#user/files" class="btn btn-success btn-large"><i class="icon-upload icon-white"></i> Upload Files Now!</a>
                  </div>
          <div id="overview">
            <div class="row features">
              <div class="span4">
                <h3><i class="feature-icon icon-book"></i> Split By Laps</h3>
                <p>If you want to have your laps be split out into multiple files.</p>
              </div>
              <div class="span4">
                <h3><i class="feature-icon icon-calendar"></i> Auto Split By Dates</h3>
                <p>Set a threshold and your file will be split up into multiple files where a gap exists in data for that amount or time.</p>
              </div>

              <div class="span4">
                <h3><i class="feature-icon icon-download-alt"></i> Download & Re-Import</h3>
                <p>Download a zip file containing the new results to extract and upload back into Garmin Connect.  Files will be deleted from our system nightly.</p>
              </div>
            </div>
          </div>
          <div class="well align-center features">
            <h4>For any queries or issues. <a href="#">Submit issues</a> on github or better yet add features and send a pull request.</h4>
          </div>
    </div>
  </div>
</div>