<div class="container">
    <div class="row-fluid">
        <div class="span12 well">
            <div class="span6">
               Select a file to upload.  Make sure file is in .tcx format.<br>
               <span class="btn btn-success fileinput-button" style="margin-top: 10px;">
                    <i class="icon-plus icon-white"></i>
                    <span>Add files...</span>
                    <input id="fileupload" type="file" multiple="" name="files[]" multiple>
                </span>
            </div>
            <div class="span6">
                <div id="filestatus"></div>
                <div id="filelist"></div>
                <div id="progress" class="progress progress-striped">
                    <div class="bar" style="width: 0%;"></div>
                </div>
            </div>
         </div>
    </div>
</div>

